    .skip{
        position: absolute;
        left: -9999px;
        z-index: 999;
        padding: 1em;
        background-color: black;
        color: white;
        opacity: 0;
    }

    .skip:focus{
        left: 50%;
        font-weight: bold;
        transform: translateX(-50%);
        opacity: 1;
    }

    #navbar{
        position: fixed;
        display: block;
        background-color: rgba(27,30,36,1);
        width: 100%;
        top: 0;
        padding-left: 5%;
        padding-right: 5%;
        padding-top: 20px;
        padding-bottom: 20px;
        transition: top 0.3s;
    }

    nav ul li{
        display: inline;
        padding: 3px 7px 3px 7px;
        margin: 5px 0px 5px 0px;
        font-size: 18px;
        color: white;
    }

    nav ul li:hover{
        color: #6feac7;
        font-weight: bold;
        transition: 0.15s;
    }

    .active{
        font-weight: bold;
        color: #16e6ab;
        text-decoration: underline;
        text-underline-offset: 5px;
    }

    .logo{
        display: none;
    }

    body{
        font-size: 15px;
        font-family: "Century Gothic", Arial, Helvetica, sans-serif;
        line-height: 25px;
        background: rgb(45,58,81);
        background: linear-gradient(0deg, rgba(45,58,81,1) 12%, rgba(27,30,36,1) 68%);
        background-attachment: fixed;
    }

    main{
        padding: 3% 5% 5% 5%;
    }

    h1{
        color: white;
        font-size: 30px;
        font-weight: bold;
        font-family: "Century Gothic", Arial, Helvetica, sans-serif;
        text-align: center;
        padding: 100px 0px 50px 0px;
    }

    h2{
        color: white;
        font-size: 22px;
        font-weight: bold;
        font-family: "Century Gothic", Arial, Helvetica, sans-serif;
        font-style: italic;
        padding-bottom: 20px;
    }

    h3{
        color: white;
        font-size: 15px;
        font-weight: bold;
        font-family: "Century Gothic", Arial, Helvetica, sans-serif;
        padding-bottom: 10px;
    }

    p{
        color: rgb(221, 221, 221);
        font-size: 15px;
        font-family: "Century Gothic", Arial, Helvetica, sans-serif;
        line-height: 25px;
        padding-bottom: 25px;
    }

    li{
        color: rgb(221, 221, 221);
    }

    img{
        padding: 5px;
        margin: 20px 0px 20px 0px;
        border-radius: 20px;
        max-width: 100%;
        height: auto;

    }

    .main-img{
        padding: 5px;
        margin: 20px 0px 20px 0px;
        border-radius: 20px;
        max-height: 400px;
        width: auto;
    }

    .items{
        margin-left: 50px;
        list-style-type: circle;
        padding-bottom: 20px;
    }

    .grid-container{
        display: grid;
        grid-template-columns: 100%;
        grid-column-gap: 20px;
        grid-row-gap: 20px;
        padding: 40px 10px 40px 10px;
        margin: 50px 0px 50px 0px;
        border-radius: 20px;
        background-color: rgb(48, 52, 60, 0.5);
    }

    .grid-item{
        padding: 0px 30px 0px 30px;
    }

    .gallery, .grid-header{
        padding: 0px 30px 0px 30px;
    }

    .home-grid{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 20px;
        grid-row-gap: 20px;
        text-align: center;
        margin-left: 15%;
        margin-right: 15%;
    }

    .welcome{
        grid-column: 1 / span 2;
        margin-bottom: 50px;
    }

    .sneakpeak{
        grid-column: 1 / 3;
    }

    .home-img{
        padding: 10px;
        border-radius: 20px;
        max-height: 300px;
        width: auto;
    }

    .home-img:hover{
        opacity: 0.9;
        transform: scale(1.05);
        transition: 0.15s;
    }

    @media (min-width:520px){
        .logo{
            display: inline-block;
            font-size: 30px;
            font-weight: bold;
            font-family: "Futura", "Trebuchet MS", Arial, sans-serif;
            padding-right: 10px;
            margin-left: 20px;
        }
    
        .logo:hover{
            color: #6feac7, ;
            transition: 0.15s;
        }

        img{
            padding: 5px;
            margin: 20px 0px 20px 0px;
            border-radius: 20px;
            max-height: 200px;
            width: auto;
    
        }
    
        .main-img{
            padding: 5px;
            margin: 20px 0px 20px 0px;
            border-radius: 20px;
            max-height: 400px;
            width: auto;
        }
    
        .items{
            margin-left: 50px;
            list-style-type: circle;
            padding-bottom: 20px;
        }
    
        .grid-container{
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-column-gap: 20px;
            grid-row-gap: 20px;
            padding: 40px 10px 40px 10px;
            margin: 50px 0px 50px 0px;
            border-radius: 20px;
        }
    
        .grid-item{
            padding: 0px 30px 0px 30px;
        }

        .travel-photos{
            grid-column: 1 / span 2;
        }

        .travel-info{
            grid-column: 1 / span 2;
        }

        .recipe-intro{
            grid-column: 1 / span 2;
        }

        .recipe-instruction{
            grid-column: 1 / span 2;
        }
    
        .gallery, .grid-header{
            grid-column: 1 / span 2;
            padding: 0px 30px 0px 30px;
        }
    
        .home-grid{
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-column-gap: 20px;
            grid-row-gap: 20px;
            text-align: center;
            margin-left: 15%;
            margin-right: 15%;
        }
    
        .welcome{
            grid-column: 1 / span 2;
            margin-bottom: 50px;
        }
    
        .sneakpeak{
            grid-column: 1 / 3;
        }
    
        .home-img{
            padding: 10px;
            border-radius: 20px;
            max-height: 300px;
            width: auto;
        }
    
        .home-img:hover{
            opacity: 0.9;
            transform: scale(1.05);
            transition: 0.15s;
        }
    }

@media (min-width:900px){
    .logo{
        display: inline-block;
        font-size: 30px;
        font-weight: bold;
        font-family: "Futura", "Trebuchet MS", Arial, sans-serif;
        padding-right: 10px;
        margin-left: 20px;
    }

    .logo:hover{
        color: #6feac7, ;
        transition: 0.15s;
    }

    img{
        padding: 5px;
        margin: 20px 0px 20px 0px;
        border-radius: 20px;
        max-height: 200px;
        width: auto;

    }

    .main-img{
        padding: 5px;
        margin: 20px 0px 20px 0px;
        border-radius: 20px;
        max-height: 400px;
        width: auto;
    }

    .items{
        margin-left: 50px;
        list-style-type: circle;
        padding-bottom: 20px;
    }

    .grid-container{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 20px;
        grid-row-gap: 20px;
        padding: 40px 10px 40px 10px;
        margin: 50px 0px 50px 0px;
        border-radius: 20px;
    }

    .grid-item{
        padding: 0px 30px 0px 30px;
    }

    .travel-photos{
        grid-column: 1 / span 1;
    }

    .travel-info{
        grid-column: 2 / span 1;
    }

    .recipe-intro{
        grid-column: 1 / span 1;
    }

    .recipe-instruction{
        grid-column: 2 / span 1;
    }

    .gallery, .grid-header{
        grid-column: 1 / span 2;
        padding: 0px 30px 0px 30px;
    }

    .home-grid{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 20px;
        grid-row-gap: 20px;
        text-align: center;
        margin-left: 15%;
        margin-right: 15%;
    }

    .welcome{
        grid-column: 1 / span 2;
        margin-bottom: 50px;
    }

    .sneakpeak{
        grid-column: 1 / 3;
    }

    .home-img{
        padding: 10px;
        border-radius: 20px;
        max-height: 300px;
        width: auto;
    }

    .home-img:hover{
        opacity: 0.9;
        transform: scale(1.05);
        transition: 0.15s;
    }
}
